.contestant-count{
    color:beige;
    padding: 1rem 0 0.2rem;
}


.submit-button{
	color: white;
	background-color: rgb(50,50,50);
	cursor: pointer;
	border-radius: 1rem;
	display: inline-block;
	padding: 0.5rem 1.5rem;
	border:none;
    margin: 0.5rem 0.5rem 0 0;
}