.pill-body{
  color: rgb(255, 255, 255);
  background-color: rgb(35, 35, 35);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

/* .name-text{
  padding: 0.5rem 1rem;
} */

.pill-contents{
  padding: 0.5rem 1rem;
}
.remove-button{
  border-radius: 0 1rem 1rem 0;
  width: 2rem;
  height: 100%;
	color: white;
	background-color: rgb(101, 0, 0);
	cursor: pointer;
	display: inline-block;
	border:none;
}

.update-button{
  border-radius: 1rem 0 0 1rem;
  width: 2rem;
  height: 100%;
	cursor: pointer;
	display: inline-block;
	border:none;
}

.contestant-details{
  font-size: 0.5rem;
  color: rgb(108, 108, 108);
}