.styled-input{
	border: none;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}
.styled-input:focus{
	outline: none;
}

.contestant-box{
	border: none;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}


@media only screen and (max-width: 600px) {
	.styled-input{
		border: none;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
		width: 40%;
	}
}