.standout-button{
	color: rgb(50,50,50);
	background-color: cornsilk;
	cursor: pointer;
	border-radius: 1rem;
	display: inline-block;
	padding: 0.5rem 1.5rem;
	border:none;
    margin: 0.5rem 0.5rem 0 0;

}
.input-container{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    color: cornsilk;
}

.cancel-button{
	color: white;
	background-color: rgb(50,50,50);
	cursor: pointer;
	border-radius: 1rem;
	display: inline-block;
	padding: 0.5rem 0.5rem;
	border:none;
    margin: 0.5rem 0.5rem 0 0;
}